<div>
  <h1>Current Type: </h1>
  <p><%= @book_current.current_type %></p>

  <ul>
    <li><%= link_to "Edit", edit_book_current_path(@book_current) %></li>
    <li><%= link_to "Delete", book_current_path(@book_current), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
  </ul>
</div>

    